<mat-card class="meal-form">
  <form [formGroup]="mealForm" (ngSubmit)="mealSubmit()">
    <mat-card-title>Add a Meal!</mat-card-title>
    <mat-card-content>

        <mat-form-field appearance="outline">
          <label for="mealName">Meal Name:</label>
          <input type="text" id="mealName" name="mealName" formControlName="mealName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <label for="mealDescription">Meal Description:</label>
          <textarea type="text" id="mealDescription" name="mealDescription"
                    formControlName="mealDescription"
                    cdkTextareaAutosize cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="10"
          >

      </textarea>
        </mat-form-field>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <label for="calories">Calories (in grams):</label>
          <input type="number" id="calories" name="calories" formControlName="calories">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <label for="proteinValue">Protein (in grams):</label>
          <input type="number" id="proteinValue" name="proteinValue" formControlName="proteinValue">
        </mat-form-field>
      </div>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <label for="fatValue">Fat (in grams):</label>
          <input type="number" id="fatValue" name="fatValue" formControlName="fatValue">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <label for="carbValue">Total Carbs (in grams):</label>
          <input type="number" id="carbValue" name="carbValue" formControlName="carbValue">
        </mat-form-field>
      </div>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <label for="netCarbValue">Net Carbs (in grams):</label>
          <input type="number" id="netCarbValue" name="netCarbValue" formControlName="netCarbValue">
        </mat-form-field>
          <button type="submit" [disabled]="!mealForm.valid">Submit</button>

      </div>
    </mat-card-content>
  </form>
</mat-card>
