.meal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.two-count mat-form-field:first-child {
  margin-right: 20px;
}

