<mat-card class="meal-form">
  <form [formGroup]="mealForm" (ngSubmit)="mealSubmit()">
    <mat-card-title>Add a Meal!</mat-card-title>
    <mat-card-content>

        <mat-form-field appearance="outline" >
          <mat-label for="mealName">Meal Name:</mat-label>
          <input matInput type="text" id="mealName" formControlName="mealName" placeholder="Placeholder" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="mealDescription">Meal Description:</mat-label>
          <textarea matInput type="text" id="mealDescription" name="mealDescription" placeholder="Placeholder"
                    formControlName="mealDescription"
                    cdkTextareaAutosize cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="10"
          >

      </textarea>
        </mat-form-field>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <mat-label for="calories">Calories (in grams):</mat-label>
          <input matInput type="number" id="calories" name="calories" formControlName="calories" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="proteinValue">Protein (in grams):</mat-label>
          <input matInput type="number" id="proteinValue" name="proteinValue" formControlName="proteinValue" />
        </mat-form-field>
      </div>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <mat-label for="fatValue">Fat (in grams):</mat-label>
          <input matInput type="number" id="fatValue" name="fatValue" formControlName="fatValue" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="carbValue">Total Carbs (in grams):</mat-label>
          <input matInput type="number" id="carbValue" name="carbValue" formControlName="carbValue" />
        </mat-form-field>
      </div>

      <div class="two-count">
        <mat-form-field appearance="outline">
          <mat-label for="netCarbValue">Net Carbs (in grams):</mat-label>
          <input matInput type="number" id="netCarbValue" name="netCarbValue" formControlName="netCarbValue" />
        </mat-form-field>
          <button mat-button type="submit" [disabled]="!mealForm.valid">Submit</button>

      </div>
    </mat-card-content>
  </form>
</mat-card>
