<div class="meal-form">
  <form [formGroup]="mealForm" (ngSubmit)="mealSubmit()">
    <p>
      <label for="mealName">Meal Name</label>
      <input type="text" id="mealName" name="mealName" formControlName="mealName">
    </p>
    <p>
      <label for="mealDescription">Meal Description</label>
      <input type="text" id="mealDescription" name="mealDescription" formControlName="mealDescription">
    </p>
    <p>
      <label for="calories">Calories (in grams)</label>
      <input type="number" id="calories" name="calories" formControlName="calories">
    </p>
    <p>
      <label for="proteinValue">Protein (in grams)</label>
      <input type="number" id="proteinValue" name="proteinValue" formControlName="proteinValue">
    </p>
    <p>
      <label for="fatValue">Fat (in grams)</label>
      <input type="number" id="fatValue" name="fatValue" formControlName="fatValue">
    </p>
    <p>
      <label for="carbValue">Total Carbs (in grams)</label>
      <input type="number" id="carbValue" name="carbValue" formControlName="carbValue">
    </p>
    <p>
      <label for="netCarbValue">Net Carbs (in grams)</label>
      <input type="number" id="netCarbValue" name="netCarbValue" formControlName="netCarbValue">
    </p>

    <p>
      <button type="submit" [disabled]="!mealForm.valid">Submit</button>
    </p>

  </form>
</div>
