.restaurant-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 15px;
}

.meal-item {
  width: 250px;
  margin-bottom: 15px;
  margin-right: 15px;
  heignt: 500px;
}
