.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 36px;
  }
}


.restaurant-col {
  display: flex;
  flex-direction: column;
  align-items: center;



  app-meal-card-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 15px;
  }

}
